services:
  - type: web
    name: waylo-password-reset
    env: static
    repo: https://github.com/maicol-monge/WayloPasswordReset
    branch: main
    buildCommand: npm ci && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_BASE
        value: https://wayloapi.onrender.com
