services:
  - type: web
    name: waylo-password-reset
    env: static
    repo: https://github.com/maicol-monge/WayloPasswordReset
    branch: main
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=0, must-revalidate
    envVars:
      - key: VITE_API_BASE
        value: https://wayloapi.onrender.com
